
#product-overview {
    background: url(./images/freedom.jpg) left 10% bottom 20%/cover no-repeat border-box;
    width: 100%;
    height: 560px;
    padding: 10px;
    margin-top: 43px;
    position: relative;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
}

/* h1 {
    font-family: sans-serif;
} */

.plan {
    background: #d5ffdc;
    text-align: center;
    display: inline-block;
    padding: 16px;
    margin: 8px;
    width: 31%;
    vertical-align: middle;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, .5)
}

.section-title {
    text-align: center;
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 6px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, .5);
    border-radius: 8px;
}
.plan__title{
    color: #15782f;
}

.plan__price {
    color: grey;
}

.plan--highlighted .plan__title {
    color: #ffffff;
}
.plan--highlighted .plan__price {
    color: #010101;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}


#key-features{
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features > h1 {
    color: white;
    margin: 32px;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.feature-item {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
}

.product-features {
    text-align: center;
    color: white;
    font-weight: bold;
}

.key__image {
    background: #19b84c;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: 0 auto;
}

