main {
    padding-top: 32px;
}

.background {
    background: url('../images/plans-background.jpg');
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.plan-sections {
    background: rgba(190, 225, 190, .95);
    border: 4px solid #2e4f1f;
    border-left: none;
    margin: 16px 0;
    width: 80%;
    position: relative;
    z-index: 1;
}

.plan-sections:last-child {
    background: darkgreen;
    border: black solid 4px;
}

.plan-text {
    text-decoration: none;
    display: block;
    padding: 32px;
}

.package__badge {
    position: absolute;
    top: 0px;
    right: 0;
    margin: 20px;
    font-size: 12px;
    color: white;
    background: #ff5454;
    padding: 10px;
    z-index: 9;
}

.plan-sections:hover,
.plan-sections:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454 !important;
}

.plan-text > h1 {
    color: black;
}

.plan-text > h2 {
    color: white;
}

.plan-text p {
    background: white;
    color: black;
    margin: 0;
    padding: 15px;
    border: darkgreen solid 2px;
}

.clearfix {
    clear: both;
}

#free {
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
}
